@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.btn {
  width: 90px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: .3rem;
  /* display: block; */
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn.transparent:hover {
  background-color: white;
  color: #4d84e2;
}

.btn:hover {
  background-color: #4d84e2;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.filters {
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.10);
    margin: auto;
    background-color: white;
    border-radius: 4px;
    min-height: 600px;
    padding: 2rem;
    position: fixed;
    left: 0;
    height: 100%;
}

.filters h5 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.filters .inputBox {
    width: 100%;
    height: 55px;
    margin-bottom: 1.3rem;
    position: relative;
}

.filters .inputBox input {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    outline: none;
    border-radius: 4px;
    padding: 1rem;
}

.filters .inputBox select {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    outline: none;
    border-radius: 4px;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
}

.filters .inputBox option {
    font-family: "Poppins", sans-serif;
}


.filters .inputBox :last-child {
    margin-bottom: 0;
}

.filters button {
    padding: 0.7rem 2rem;
    margin-top: 2rem;
    display: block;
    width: 100%;
}

.filters form {
    padding: 0;
}

/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}    */

html { 
    background: #fff no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    background:black;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

main {
    background: #fff;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(26, 25, 25);
    height: 100px;
    width: auto;
}

.logo{
    width: 125px;
    cursor: pointer;
    margin: 20px 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.profile-card ul{
    padding:0;
    margin:0;
    float:center;
    border: 1px;

}

.profile-card ul li {
    width:200px;
    height:200px;
    text-align:center;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.content {
    width: 100%;    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 40px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.rightsidebar h5 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}


/* .rightsidebar {
    max-width: 1100px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.10);
    background-color: white;
    border-radius: 4px;
    min-height: 600px;
    padding: 2rem;
    position: fixed;
    right: 0;
    height: 100%;
} */

.rightsidebar {
    flex: 0 0 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 500px;
    vertical-align: middle;
    align-items: center;
    height: 100%;
}


.pictures h5 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pictures h2 {
    text-decoration: underline;
}
  /* .pictures .preloader-wrapper {
    position: fixed;
    top: 50%;
  } */

/* .form {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    clear: both;
} */

/* select {
    height: 30px;
    width: 220px;
}  */