<html>
<head>
    <title> Create Trainer </title>
    <link rel="stylesheet" type="text/css" href="../static/css/memberDetails.css" />
    </head>
    <body>
        <div class = "banner">
        <div class = "navbar">
            <img src = "../static/img/trainers_logo_two.png" class = "logo">
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/trainerLogin">Login Page</a></li>
            </ul>
        </div>
        <center>
            <h1 style="color:white; font-size:60px">TRAINER DETAILS</h1>
            <p1 style="color:white; font-size:40px">Please enter the details down below </p1>
            <form action = "#" method = "post">
            {%with messages = get_flashed_messages()%}
            {%if messages %}
                {% for msg in messages%}
                    <b style="color:red; font-size:20px">{{msg}}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br>
            <br>
            <br>
            <br>
                <table>
                <tr>
                        <td style = "color: white; font-size:30px">Email: </td>
                        <td>
                        <input type = "text" name = "email">
                        </td>
                    </tr>

                     <tr>
                        <td style = "color: white; font-size:30px"> Password: </td>
                        <td>
                            <input type="password" name="trainerpw">
                        </td>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Name: </td>
                        <td>
                        <input type = "text" name = "trainername">
                        </td>
                    </tr>
                    
                    <tr>
                        <td style = "color: white; font-size:30px">Contact Number: </td>
                        <td>
                        <input type = "text" name = "contact">
                        </td>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Gender: (M/F) </td>
                        <td style = "color: white; font-size:20px">
                        <input type="checkbox" name="gender" value="Male">
                        <label for="Male"> Male</label><br>
                        <input type="checkbox" name="gender" value="Female">
                        <label for="Female"> Female</label><br>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Years of Experience: </td>
                        <td>
                        <input type = "text" name = "experience">
                        </td>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Short Description: </td>
                        <td>
                        <input type = "text" name = "description">
                        </td>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Location: </td>
                        <td>
                        <input type = "text" name = "location">
                        </td>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Type of Training: </td>
                        <td style = "color: white; font-size:20px">
                        <input type="checkbox" name="trgtype" value="Kettlebell">
                        <label for="Kettlebell"> Kettlebell</label><br>
                        <input type="checkbox" name="trgtype" value="Body weight">
                        <label for="Body Weight"> Body Weight</label><br>
                        <input type="checkbox" name="trgtype" value="Barbell" checked>
                        <label for="Barbell"> Barbell </label><br><br>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Price Range: </td>
                        <td>
                        <input type = "text" name = "pricerange">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type= "submit" name= "submit" value = "Create New User">
                        </td>
                    </tr>
                </table>
            </form>
        </center>
    </body>
</html>
