<html>
<head>
    <title> Create Member </title>
    <link rel="stylesheet" type="text/css" href="../static/css/memberDetails.css" />
    </head>
    <body>
        <div class = "banner">
        <div class = "navbar">
            <img src = "../static/img/trainers_logo_two.png" class = "logo">
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/memberLogin">Login Page</a></li>
            </ul>
        </div>
        <center>
            <h1 style="color:white; font-size:60px">CREATE NEW MEMBER</h1>
            <p1 style="color:white; font-size:40px">Please enter the respective details</p1>
            <form action = "#" method = "post">
            {%with messages = get_flashed_messages()%}
            {%if messages %}
                {% for msg in messages%}
                    <b style="color:red; font-size:20px">{{msg}}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br>
            <br>
            <br>
            <br>
                <table>
                    <tr>
                        <td style = "color: white; font-size:30px">Email: </td>
                        <td>
                        <input type = "text" name = "email">
                        </td>
                    </tr>
                    

                    <tr>
                        <td style = "color: white; font-size:30px"> Password: </td>
                        <td>
                            <input type="password" name="userpassword">
                        </td>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Name: </td>
                        <td>
                        <input type = "text" name = "membername">
                        </td>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Gender: </td>
                        <td style = "color: white; font-size:20px">
                        <input type="checkbox" name="gender" value="Male">
                        <label for="Male"> Male</label><br>
                        <input type="checkbox" name="gender" value="Female">
                        <label for="Female"> Female</label><br>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Number: </td>
                        <td>
                        <input type = "text" name = "number">
                        </td>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Level of Training: </td>
                        <td style = "color: white; font-size:20px">
                        <input type="checkbox" name="trglvl" value="Beginner">
                        <label for="Beginner"> Beginner</label><br>
                        <input type="checkbox" name="trglvl" value="Intermediate">
                        <label for="Intermediate"> Intermediate</label><br>
                        <input type="checkbox" name="trglvl" value="Advance" checked>
                        <label for="Advance"> Advance </label><br><br>
                    </tr>

                    <tr>
                        <td style = "color: white; font-size:30px">Type of Training: </td>
                        <td style = "color: white; font-size:20px">
                        <input type="checkbox" name="trgtype" value="Kettlebell">
                        <label for="Kettlebell"> Kettlebell</label><br>
                        <input type="checkbox" name="trgtype" value="Body weight">
                        <label for="Body Weight"> Body Weight</label><br>
                        <input type="checkbox" name="trgtype" value="Barbell" checked>
                        <label for="Barbell"> Barbell </label><br><br>
                    </tr>

                    <tr>
                        <td>
                            <input type= "submit" name= "submit" value = "Create New User">
                        </td>
                    </tr>
                    
                </table>
            </form>
        </center>
    </body>
</html>
