<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Filter Trainers </title>
    <link rel="stylesheet" type="text/css" href="../static/css/memberDetails.css"/>
</head>
<body>
    <div class = "banner">
        <div class = "navbar">
            <img src = "../static/img/trainers_logo_two.png" class = "logo">
            <ul>
                <li><a href = "http://127.0.0.1:5000/memberHome">Home</a></li>
                <li><a href = "http://127.0.0.1:5000/">Logout</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="wrapper">
        <h2>Filter Details</h2>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="inputBox">
                <label for="pricerange">Price Range:</label> <br>
                <select id="pricerange" name = "pricerange">
                    <option value="" disabled selected hidden>Choose your price range</option>
                    <option name="pricerange" value="$0 to $50">$0 - $50 per hour</option>
                    <option name="pricerange" value="$51 to $100">$51 - $100 per hour</option>
                    <option name="pricerange" value="More than $101"> More than $101 per hour</option>
                    <option name="pricerange" value="More than $101"> More than $101 per hour</option>
                </select>
            </div>
            <div class="inputBox">
                <label for="gender">Gender</label> <br>
                <select id="gender" name = "gender">
                    <option value="" disabled selected hidden>Choose your gender</option>
                    <option name="gender" value="Male">Male</option>
                    <option name="gender" value="Female">Female</option>
                </select>
            </div> 
            <br>
            <div class="inputBox">
                <label for="location">Location:</label> <br>
                <select id="location" name = "location">
                    <option value="" disabled selected hidden>Choose your Location</option>
                    <option name="location" value="North">North</option>
                    <option name="location" value="South">South</option>
                    <option name="location" value="East"> East</option>
                    <option name="location" value="West"> West</option>
                </select>
            </div>
            <br>
            <div class="inputBox">
                <label for="trgtype">Training Type</label> <br>
                <select id="trgtype" name = "trgtype">
                    <option value="" disabled selected hidden>Choose your training type</option>
                    <option name="trgtype" value="Kettlebell">Kettlebell</option>
                    <option name="trgtype" value="Body weight" >Body weight</option>
                    <option name="trgtype" value="Barbell">Barbell</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn" href="/filterTrainers">Filter</button>
            </div>
        </form>
        </div>
    </div>
    
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            {% for msg in messages%}
                <b style="color:red; font-size:15px">{{msg}}</b>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table> 
        <tr >
            {% for header in headings %}
            <th "color: white; font-size:20px">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            <li><a href="/trainers/{{row[1]}}/"">{{row[5]}}</a></li>
            {% for cell in row %}
            <td "color: white; font-size:20px">{{ cell }}</td>
            {% endfor %}
        </tr>
            
        {% endfor %}
            
    </table>
</body>
</html>
<!-- <html>
<head>
    <title> Filer Trainers </title>
    <link rel="stylesheet" type="text/css" href="../static/css/memberDetails.css"/>
</head>
<body>
    <div class = "banner">
    <div class = "navbar">
        <img src = "../static/img/trainers_logo_two.png" class = "logo">
    </div>
    <center>
        <h1 style="color:white; font-size:60px">FILTER TRAINERS</h1>
        <p1 style="color:white; font-size:40px">Please tick the boxes</p1>
        <form method="POST" action="/filterTrainers">
            <tr>
                <td "color: white; font-size:30px">Gender: </td>
                <td "color: white; font-size:20px">
                <input type="checkbox" name="gender" value="Male">
                <label for="Male"> Male</label><br>
                <input type="checkbox" name="gender" value="Female">
                <label for="Female"> Female</label><br><br>
            </tr>

            <tr>
                <td>Location: </td>
                <td>
                <input type="checkbox" name="location" value="North">
                <label for="North"> North</label><br>
                <input type="checkbox" name="location" value="South">
                <label for="South"> South</label><br>
                <input type="checkbox" name="location" value="East">
                <label for="East"> East</label><br>
                <input type="checkbox" name="location" value="West">
                <label for="West"> West</label><br><br>
            </tr>
                
            <tr>
                <td>Price Range: </td>
                <td>
                <input type="checkbox" name="price" value="$">
                <label for="$"> $</label><br>
                <input type="checkbox" name="price" value="$$">
                <label for="$$"> $$</label><br>
                <input type="checkbox" name="price" value="$$$">
                <label for="$$$"> $$$</label><br><br>
            </tr>

            <tr>
                <td>Level of Training: </td>
                <td>
                <input type="checkbox" name="trglvl" value="Beginner">
                <label for="Beginner"> Beginner</label><br>
                <input type="checkbox" name="trglvl" value="Intermediate">
                <label for="Intermediate"> Intermediate</label><br>
                <input type="checkbox" name="trglvl" value="Advanced">
                <label for="Advanced"> Advanced </label><br><br>
            </tr>

            <tr>
                <td>Type of Training: </td>
                <td>
                <input type="checkbox" name="trgtype" value="Kettlebell">
                <label for="Kettlebell"> Kettlbell</label><br>
                <input type="checkbox" name="trgtype" value="Body weight">
                <label for="Body Weight"> Body Weight</label><br>
                <input type="checkbox" name="trgtype" value="Barbell">
                <label for="Barbell"> Barbell </label><br><br>
            </tr>

            <div class="btn-block">
                <button type="submit" href="/filterTrainers">SEND</button>
            </div>
        </form>
        
        {%with messages = get_flashed_messages()%}
        {%if messages %}
            {% for msg in messages%}
                <b style="color:red; font-size:20px">{{msg}}</b>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <table> 
            <tr >
                {% for header in headings %}
                <th "color: white; font-size:20px">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                <li><a href="/trainers/{{row[1]}}/"">{{row[5]}}</a></li>
                {% for cell in row %}
                <td "color: white; font-size:20px">{{ cell }}</td>
                {% endfor %}
            </tr>
                
            {% endfor %}
                
        </table>
            
    </center>
</body>
</html> -->