<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Member Account Details </title>
    <link rel="stylesheet" type="text/css" href="../static/css/memberDetails.css" />
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <img src="../static/img/trainers_logo_two.png" class="logo">
            <ul>
                <li><a href="/memberHome">Home</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    {%with messages = get_flashed_messages()%}
    {%if messages %}
    {% for msg in messages%}
    <b style="color:red; font-size:15px; text-align: center;">{{msg}}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="wrapper">
        <h2>Member Details</h2>
        <div class="profile-card">
            <div class="image-container">
                <img src="{{ profileImage }}" class="picture"
                    style="width: 300px; height: 300px; -webkit-border-radius: 60px; -webkit-background-clip: padding-box;-moz-border-radius: 60px;-moz-background-clip: padding;
                border-radius: 10px; background-clip: padding-box; margin: 7px 0 0 5px; float: center; background-size: cover; background-position: center center;">
            </div>
        </div>
        <br>
        <br>
        <form action="/memberDetails" method="POST" enctype="multipart/form-data">
            <div class="inputBox">
                <label for="name">Name</label> <br>
                <input type="hidden" value="{{valDetails[2]}}" name="oldName">
                <input type="text" value="{{valDetails[2]}}" name="newName">
            </div>
            <br>
            <div class="inputBox">
                <label for="number">Number</label> <br>
                <input type="hidden" value="{{valDetails[3]}}" name="oldNumber">
                <input type="text" value="{{valDetails[3]}}" name="newNumber">
            </div>
            <br>
            <div class="inputBox">
                <label for="gender">Gender</label> <br>
                <input type="hidden" value="{{valDetails[1]}}" name="oldGender">
                <select id="newGender" name="newGender">
                    <option value="" disabled selected hidden>{{valDetails[1]}}</option>
                    <option name="newGender" value="Male">Male</option>
                    <option name="newGender" value="Female">Female</option>
                </select>
            </div>
            <br>
            <div class="inputBox">
                <label for="trglvl">Training Level</label> <br>
                <input type="hidden" value="{{valDetails[4]}}" name="oldTrgLvl">
                <select id="newTrgLvl" name="newTrgLvl" value="{{valDetails[4]}}">
                    <option value="" disabled selected hidden>{{valDetails[4]}}</option>
                    <option name="newTrgLvl" value="Beginner">Beginner</option>
                    <option name="newTrgLvl" value="Intermediate">Intermediate</option>
                    <option name="newTrgLvl" value="Advance">Advance</option>
                </select>
            </div>
            <br>
            <div class="inputBox">
                <label for="trgtype">Training Type</label> <br>
                <input type="hidden" value="{{valDetails[5]}}" name="oldTrgType">
                <select id="newTrgType" name="newTrgType">
                    <option value="" disabled selected hidden>{{valDetails[5]}}</option>
                    <option name="newTrgType" value="Kettlebell">Kettlebell</option>
                    <option name="newTrgType" value="Body weight">Body weight</option>
                    <option name="newTrgType" value="Barbell">Barbell</option>
                </select>
            </div>
            <br>
            <div>
                <button type="submit" class="btn" href="/memberDetails">Update</button>
            <br>
            <h5>After pressing "Update" please refresh your page to see your updated details</h5>
        </form>
    </div>
    </div>
</body>
</html>