<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title> Member Home </title>
</head>
    <body>
        <center>
            <style> 
                body {
                  background-image: url("https://wallpaperaccess.com/full/84248.png");
                  backdrop-filter: blur(5px);
                }
                
            </style>
            <br>
            <br>
            <br>
            <br>
            <h1 style="color:white; font-size:70px"> Welcome to the Trainers "R" Us </h1>
            <h1 style="color:white; font-size:60px">eServices</h1>
            {%with messages = get_flashed_messages()%}
            {%if messages %}
                {% for msg in messages%}
                    <b style="color:red; font-size:20px">{{msg}}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br>
            <br>
            <a href="http://127.0.0.1:5000/simpleSearch" ><button type="button" class="btn btn-primary btn-lg">Home</button></a>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/advancedSearch" ><button type="button" class="btn btn-primary btn-lg">About Us</button></a>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/bookTransactions"><button type="button" class="btn btn-primary btn-lg">Services</button></a>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/bookTransactions"><button type="button" class="btn btn-primary btn-lg">Contact Us</button></a>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/viewAllTrainers"><button type="button" class="btn btn-primary btn-lg">View All Trainers</button></a>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/viewFilteredTrainers"><button type="button" class="btn btn-primary btn-lg">View Filtered Trainers</button></a>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/memberDetails"><button type="button" class="btn btn-primary btn-lg">Account Details</button></a>
            <br>
            <br>
            <a href="http://127.0.0.1:5000/" ><button type="button" class="btn btn-primary">Logout</button></a>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        </center>
    </body>  
</html>