<html>
<head>
    <title> View All Bookings </title>
    <link rel="stylesheet" type="text/css" href="../static/css/memberDetails.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class = "banner">
        <div class = "navbar">
            <img src = "../static/img/trainers_logo_two.png" class = "logo">
            <ul>
                <li><a href = "/trainerHome">Home</a></li>
                <li><a href = "/trainerDetailUpdate">Update Account</a></li>
                <li><a href = "/">Logout</a></li>
            </ul>
        </div>
        <center>
            <style> 
                table, th, td {
                    border: 5px solid white;
                }
            </style>

            {%with messages = get_flashed_messages()%}
            {%if messages %}
                {% for msg in messages%}
                    <b style="color:red; font-size:20px">{{msg}}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h1 style="color:white; font-size:70px"> Pending Table </h1>
            <table> 
                <tr >
                    {% for header in pending %}
                    <th style = "color: white; font-size:20px">{{ header }} </th>
                    {% endfor %}
                </tr>
                {% for row in pendinglist %}
                <tr>
                    <a href="/confirmBooking/{{row[0]}}/" id="email"><button type = "button"><span></span>Confirm Booking</button></a>
                    <a href="/cancelBooking/{{row[0]}}/" id="email"><button type = "button"><span></span>Reject Booking</button></a>
                    {% for cell in row %}
                    <td style = "color: white; font-size:30px">{{ cell }}</td>
                    {% endfor %}
                </tr>
                    
                {% endfor %}
                    
            </table>


            <h1 style="color:white; font-size:70px"> All Bookings </h1>
            <table> 
                <tr >
                    {% for header in headings %}
                    <th style = "color: white; font-size:20px">{{ header }} </th>
                    {% endfor %}
                </tr>
                {% for row in bookings %}
                <tr>
                    {% for cell in row %}
                    <td style = "color: white; font-size:30px">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </center>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>