<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Trainer Account Details </title>
    <link rel="stylesheet" type="text/css" href="../static/css/memberDetails.css"/>
</head>
<body>
    <div class = "banner">
        <div class = "navbar">
            <img src = "../static/img/trainers_logo_two.png" class = "logo">
            <ul>
                <li><a href = "/trainerHome">Home</a></li>
                <li><a href = "/">Logout</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
     
    <div class="wrapper">
        {%with messages = get_flashed_messages()%}
            {%if messages %}
                {% for msg in messages%}
                    <b style="color:red; font-size:15px">{{msg}}</b>
                {% endfor %}
            {% endif %}
        {% endwith %}  
        <h2>Trainer Details</h2>
        <div class="profile-card">
            <div class="image-container">
                <img src="{{ profileImage }}" class ="picture" style="width: 300px; height: 300px; -webkit-border-radius: 60px; -webkit-background-clip: padding-box;-moz-border-radius: 60px;-moz-background-clip: padding;
                border-radius: 10px; background-clip: padding-box; margin: 7px 0 0 5px; float: center; background-size: cover; background-position: center center;"> 
            </div>
        </div>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="inputBox">
                <label for="name">Name</label> <br>
                <input type="hidden" value="{{valDetails[5]}}" name="oldName">
                <input type="text" value="{{valDetails[5]}}" name="newName">
            </div>
            <br>
            <div class="inputBox">
                <label for="number">Number</label> <br>
                <input type="hidden" value="{{valDetails[6]}}" name="oldNumber">
                <input type="text" value="{{valDetails[6]}}" name="newNumber">
            </div>
            <br>
            <div class="inputBox">
                <label for="descrip">Description</label> <br>
                <input type="hidden" value="{{valDetails[0]}}" name="oldDescrip">
                <input type= "text" value="{{valDetails[0]}}" name="newDescrip">
            </div>
            <br>
            <div class="inputBox">
                <label for="location">Location</label> <br>
                <input type="hidden" value="{{valDetails[4]}}" name="oldLocation">
                <input type= "text" value="{{valDetails[4]}}" name="newLocation">
            </div>
            <br>
            <div class="inputBox">
                <label for="gender">Gender</label> <br>
                <input type="hidden" value="{{valDetails[3]}}" name="oldGender">
                <select id="newGender" name = "newGender">
                    <option value="" disabled selected hidden>{{valDetails[3]}}</option>
                    <option name="newGender" value="Male">Male</option>
                    <option name="newGender" value="Female">Female</option>              
                </select>
            </div> 
            <br>
            <div class="inputBox">
                <label for="trgyrs">Years of Training</label> <br>
                <input type="hidden" value="{{valDetails[2]}}" name="oldExp">
                <select id="newExp" name = "newExp" value="{{valDetails[2]}}">
                    <option value="" disabled selected hidden>{{valDetails[2]}}</option>
                    <option name="newExp" value="0 to 3">0 - 3 years</option> 
                    <option name="newExp" value="4 to 10" >4 - 10 years</option>
                    <option name="newExp" value="More than 10">More than 10 years</option>
                </select>
            </div>
            <br>
            <div class="inputBox">
                <label for="pricerange">Price Range</label> <br>
                <input type="hidden" value="{{valDetails[7]}}" name="oldPriceRange">
                <select id="newPriceRange" name = "newPriceRange" value="{{valDetails[7]}}">
                    <option value="" disabled selected hidden>{{valDetails[7]}}</option>
                    <option name="newPriceRange" value="$0 to $50">$0 - $50 per hour</option> 
                    <option name="newPriceRange" value="$51 to $100" >$51 - $100 per hour</option>
                    <option name="newPriceRange" value="More than $101">More than $101 per hour</option>
                </select>
            </div>
            <br>
            <div class="inputBox">
                <label for="trgtype">Training Type</label> <br>
                <input type="hidden" value="{{valDetails[8]}}" name="oldTrgType">
                <select id="newTrgType" name = "newTrgType" value="{{valDetails[8]}}">
                    <option value="" disabled selected hidden>{{valDetails[8]}}</option>
                    <option name="newTrgType" value="Kettlebell">Kettlebell</option>
                    <option name="newTrgType" value="Body weight" >Body weight</option>
                    <option name="newTrgType" value="Barbell">Barbell</option>
                </select>
            </div>
            <br>
            <div>
                <button type="submit" class="btn">Update</button>
            <br>
            <h5>After pressing "Update" please refresh your page to see your updated details</h5>
        </form>
        </div>
    </div>
</body>
</html>