<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> View Trainer </title>
    <link rel="stylesheet" type="text/css" href="../static/css/viewTrainer.css"/>
</head>
<body>
    <div class = "banner">
        <div class = "navbar">
            <img src = "../static/img/trainers_logo_two.png" class = "logo">
            <ul>
                <li><a href = "/memberHome">Home</a></li>
                <li><a href = "/filterTrainers">Filter Trainer</a></li>
                <li><a href = "/">Logout</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="wrapper">
        <h2>{{trainer[5]}}'s Details</h2>
        <div class="profile-card">
            <div class="image-container">
                <img src="{{ profileImage }}" class ="picture" style="width: 300px; height: 300px; -webkit-border-radius: 60px; -webkit-background-clip: padding-box;-moz-border-radius: 60px;-moz-background-clip: padding;
                border-radius: 10px; background-clip: padding-box; margin: 7px 0 0 5px; float: center; background-size: cover; background-position: center center;"> 
            </div>
        </div>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="inputBox">
                <label for="Name">Name</label> <br>
                <input type="text" value="{{trainer[5]}}" name="Name" readonly="readonly">
            </div>
            <br>
            <div class="inputBox">
                <label for="Descrip">Description</label> <br>
                <input type= "text" value="{{trainer[0]}}" name="Descrip" readonly="readonly">
            </div>
            <br>
            <div class="inputBox">
                <label for="Location">Location</label> <br>
                <input type= "text" value="{{trainer[4]}}" name="Location" readonly="readonly">
            </div>
            <br>
            <div class="inputBox">
                <label for="gender">Gender</label> <br>
                <input type="text" value="{{trainer[3]}}" name="Gender" readonly="readonly">
            </div> 
            <br>
            <div class="inputBox">
                <label for="trgyrs">Years of Training</label> <br>
                <input type="text" value="{{trainer[2]}}" name="trgyrs" readonly="readonly">
            </div>
            <br>
            <div class="inputBox">
                <label for="pricerange">Price Range</label> <br>
                <input type="text" value="{{trainer[7]}}" name="PriceRange" readonly="readonly">
            </div>
            <br>
            <div class="inputBox">
                <label for="trgtype">Training Type</label> <br>
                <input type="text" value="{{trainer[8]}}" name="trgtype" readonly="readonly"> 
            </div>
            <br>
        </form>
        <div>
            <a href="/viewChat?email={{trainer[1]}}" id="test"><button type = "button" class="btn" style="text-decoration: none;">Chat with {{trainer[5]}}</button>
        </div>
        <div>
            <a href="/bookTrainer?email={{trainer[1]}}"><button type = "button" class="btn">Make a Booking</button>
        </div>
        </div>
    </div>
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            {% for msg in messages%}
                <b style="color:red; font-size:15px">{{msg}}</b>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
<!-- <html>
<head>
    <title> View Trainer Profile </title>
    <link rel="stylesheet" type="text/css" href="../static/css/memberDetails.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class = "banner">
        <div class = "navbar">
            <ul>
                <li><a href = "/memberHome">Home</a></li>
                <li><a href = "/">Logout</a></li>
            </ul>
        </div>
        <center>
            <style> 
                table, th, td {
                    border: 5px solid white;
                }
            </style>
            <form method="post">
                <div class="simple-search-container">
                    <h1 style="color:rgb(135, 70, 70); font-size:70px"> Trainer Details </h1>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                </div>
            
            </form>
            <div style ="height:200px;overflow:auto;">
            <table bordercolor="#f5f5dc"; style="width:100%"> 
                <tr>
                    <th style = "color: black; font-size:40px">Name</th>
                    <th style = "color: black; font-size:40px">Email</th>
                    <th style = "color: black; font-size:40px">Number</th>
                    <th style = "color: black; font-size:40px">Gender</th>
                    <th style = "color: black; font-size:40px">Description</th>
                    <th style = "color: black; font-size:40px">Experience</th>
                    <th style = "color: black; font-size:40px">Training Type</th>
                    <th style = "color: black; font-size:40px">Price Range</th>
                    <th style = "color: black; font-size:40px">Location</th>
                </tr>
                <tr>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[5]}}</b>
                    </td>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[1]}}</b>
                    </td>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[6]}}</b>
                    </td>
                     </td>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[3]}}</b>
                    </td>
                     </td>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[0]}}</b>
                    </td>
                     </td>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[2]}}</b>
                    </td>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[8]}}</b>
                    </td>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[7]}}</b>
                    </td>
                    <td style = "color: black; font-size:30px">
                        <b>{{trainer[4]}}</b>
                    </td>
                </tr>
            </table>
            </div>
            <div>
                <a href="/viewChat?email={{trainer[1]}}" id="test"><button type = "button"><span></span>Chat</button>
            </div>
            <div>
                <a href="/bookTrainer/{{trainer[1]}}"><button type = "button"><span></span>BOOK TRAINER</button>
            </div>
        </center>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>   
</html> -->